@page
@model AddItemModel
@{
    ViewData["Title"] = "Add Item";
}

<div class="one-item-content">
    <h2>AddItem</h2>

    <form method="post" enctype="multipart/form-data">

        <div>
            <label asp-for="Item.ItemName"></label>
            <input asp-for="Item.ItemName" />
            <span asp-validation-for="Item.ItemName"></span>
        </div>
        <div>
            <h5>Author:</h5>
            @foreach (Author author in Model.Authors)
            {
                <div class="form-small-group">
                    <input asp-for="Item.AuthorId" id="@author.Id" type="radio" value="@author.Id" />
                    <label for="@author.Id">@author.Name</label>
                </div>
            }
        </div>
        <div>
            <h5>Language:</h5>
            @foreach (var item in Html.GetEnumSelectList<Lang>())
            {
                <div class="form-small-group">
                    <input asp-for="Item.Language" id="@item.Text" type="radio" value="@item.Text" />
                    <label for="@item.Text">@item.Text</label>
                </div>
            }
        </div>
        <div>
            <h5>Category:</h5>
            @foreach (var item in Html.GetEnumSelectList<Category>())
            {
                <div class="form-small-group">
                    <input asp-for="Item.Category" id="@item.Text" type="radio" value="@item.Text" />
                    <label for="@item.Text">@item.Text</label>
                </div>
            }
        </div>
        <div>
            <label asp-for="Item.Descriotion"></label>
            <textarea asp-for="Item.Descriotion" rows="6" cols="100"></textarea>
            <span asp-validation-for="Item.Descriotion"></span>
        </div>
        <div>
            <label asp-for="Item.Price"></label>
            <input asp-for="Item.Price" />
            <span asp-validation-for="Item.Price"></span>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file" />
            </div>
        </div>

        <input type="submit" name="save" value="Save" />
    </form>
</div>

