@page
@model WebApp.Pages.DeleteItemModel
@inject IDataAcces DataAcces
@{
    ViewData["Title"] = "DeleteItem";
}

<div class="one-item-content">
    <h2>Are you sure you want to delete this item? Warning! This action is irreversible.</h2>

    <form method="post">
        <p>In category: @Model.Item.Language @Model.Item.Category</p>
        <h2>@Model.Item.ItemName</h2>

        <br />
        <h4>@DataAcces.GetAuthor(Model.Item.AuthorId).Name</h4>
        <div><img src="@Model.Item.PicturePath" alt="No image available" width="300" height="450" /></div>
        <br />
        <div>@Model.Item.Descriotion</div>
        <br />
        <div><text>$</text>@Model.Item.Price</div>
        <input type="submit" value="Yes, delete this item" asp-route-id="@Model.Item.Id" />
    </form>
</div>>
